.wood{background-color:#FF0000;}
h2{text-align:right;color:white;}
li{margin-right:100px;color:white;}
.black{background-color:black;height:60px;}
p{padding:60px;color:white;}
div{background-color:#61b33b;}

